<div class="jumbotron">
  <h1>Coin Counter</h1>
</div>

<form action="/output" method="get">
  <label for="allergyInput">Enter The Allergy Score</label>
  <input type="number" name="allergyInput" id="allergyInput">

  <button type="submit" class="btn btn-primary" name="submit">SUBMIT</button>
</form>
